body, h1, p, input, button, label, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}

/* Estilos globais */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f47c24; 
    
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f47c24; /* Cor de fundo */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    width: 100%; /* Estende o container para o comprimento total */
}

.form-content {
    flex: 1;
    padding: 20px;
}

form {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    border: none; /* Remove a borda */
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px;
}

/* Configurações da imagem de fundo */
.img-background {
    flex: 1;
    max-width: 50%; /* Define a largura máxima em 50% */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
    display: none; /* Inicialmente, a imagem está escondida */
}

.form__botoes__cadastrar{
    background-color: #f47c24;
    border: solid white 1px;
    color: white;
}
.form__botoes__cancelar{
    background-color: ;
    border: solid  1px;
    color: white;
}
/* Exibe a imagem em dispositivos de largura maior */
@media (min-width: 860px) {
    .img-background {
        display: block;
    }
}

/* Esconde a imagem em dispositivos menores para colocá-la atrás do formulário */
@media (max-width: 860px) {
    .img-background {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; /* Cobre o formulário */
        z-index: -1; /* Envia a imagem para trás do formulário */
        opacity: 0.3; /* Opacidade para que o formulário seja visível */
    }
}

/* Estilizando campos de entrada, seleção e botões */
input, select, button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none; /* Remove as bordas dos elementos */
    margin-bottom: 10px;
    outline: none;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Configurações para os botões de cancelamento e cadastro lado a lado separados */
.form__botoes {
    display: flex;
    justify-content: space-between; /* Separação entre os botões */
    gap: 20px; 
}