* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}

body{
    background-color: #f47c24;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    
}


.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f47c24; 
    padding: 20px;
    border-radius: 10px; 
    width: 100%; 
}



.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
}

form {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    border: none; 
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    
    
    margin-bottom: 20px;
}

.img-background {
    flex: 1;
    max-width: 50%; 
    object-fit: cover; 
    display: none; 
}

.posicao__botoes__file{
    display: flex;
    margin: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    
}
  
.posicao__botoes__file__ajuste{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posicao__botoes__file__ajuste h2{
    font-size: 1rem;
}

.posicao__botoes__file__ajuste p{
    font-size: 0.7rem;
}
.posicao__botoes__file__ajuste div{
    display: flex;
    border: solid black 1px;
    text-align: center;
    align-items: center;
    padding: 0.2rem;
    gap: 1.rem;
    border-radius: 5px;
}

.posicao__botoes__file__ajuste span{
    color:#989692;
}

.posicao__botoes__file__ajuste button{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    color: #097E90;
    border: solid #097E90 1px;
    border-radius: 5px;
}

.form__botoes__cadastrar{
    background-color: #f47c24;
    border: solid white 1px;
    color: white;
}
.form__botoes__cancelar{
    background-color: white ;
    border: solid #f47c24 1px;
    color: #f47c24;
}
@media (min-width: 860px) {
    .img-background {
        display: block;
    }
}

@media (max-width: 860px) {
    .img-background {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        z-index: -1; 
        opacity: 0.3; 
    }
}

input, select, button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none; /* Remove as bordas dos elementos */
    margin-bottom: 10px;
    outline: none;
}


.form__botoes {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}