body {
    font-family: Arial, sans-serif;
    background-color: #F37820;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.login-container {
    padding: 20px;
    flex: 1;
}

h1 {
    text-align: center;
    color: #F37820;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #007bff;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

button {
    padding: 10px 20px; 
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
}

.submit-button {
    background-color: #F37820;
    color: white;
}

.submit-button:hover {
    background-color: #d1601a;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: #F37820;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.image-container {
    flex: 1;
    padding: 20px;
}

.login-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .login-wrapper {
        flex-direction: column;
        width: 90%;
    }
    .image-container {
        display: none;
    }
}
